<main id="converter">
	<h1>For <span><%= @result['previousAmount'] %> <%= @result['currencyFrom'] %></span>,<br>you can get <span><%= @result['newAmount'] %> <%= @result['currencyFrom'] %></span></h1>

	<a class="button" href="/">&larr; Go back</a>

</main>